<div class="container text-center">
    <h1>Bienvenido/a a nuestro ecommerce</h1>
    <div class="container text-center">
             </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="productDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Modificar productos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="productDropdown">
                            <li><a class="dropdown-item" href="/api/products/post">Insertar producto</a></li>
                            <li><a class="dropdown-item" href="/api/products/put">Actualizar producto</a></li>
                            <li><a class="dropdown-item" href="/api/products/delete">Borrar producto</a></li>
                        </ul>
                    </li>
        <a href="/api/products/get" class="aClass btn btn-primary">
            Descubrí nuestros productos
        </a>
    </div>
</div>